@model Parking_VIP.Data.Entities.Vehiculo

@{
    ViewData["Title"] = "Delete";
}
<h1></h1>
<hr />
<hr />
<hr />
<hr />
<hr />
<hr />
<h3>Seguro que deseas eliminar ?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_entrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_entrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.H_salida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.H_salida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.N_parqueadero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.N_parqueadero)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn btn-outline-danger" value="Eliminar" />
        <a asp-action="Index" class="btn btn-outline-warning">Regresar</a>
    </form>
</div>
